{% extends "base.html" %}
{% from "utils.html" import create_form %}



{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/dashboard.css') }}">
{% endblock %}


{% block head_scripts %}
{% endblock %}


{% block title %}
<title>Rooms</title>
{% endblock %}


{% block main %}
<section class="up">
  <h2>Rooms</h2>
  <a href="{{ url_for('room_bp.create_room') }}"><button>Create</button></a>
  <a href="{{ url_for('room_bp.join_room') }}"><button class="up-btn-inverse">Join</button></a>
</section>

<section class="down">
  <ul class="room-itemlist">
    {% if memb_profiles %}
    {% for profile in memb_profiles %}
    {% set room = profile.room %}
    <li>
      <a class="room-item" href="{{ url_for('room_bp.lounge', room=room) }}">
        <div class="room-card">
          <div class="room-card-left">
            <span class="room-topic">{{ room.topic }}</span>
            {% if room.admin == current_user and not room.is_active %}
            <span class="room-lastlog input-error">Draft: Room not fully created. Tap to continue.</span>
            {% elif profile.allow_username_edit %}
            <span class="room-lastlog input-error">You have not joined completely. Tap to Finish.</span>
            {% elif room.logs.all() %}
            <span class="room-lastlog">{{ room.logs.all()[-1].member.username }}: {{ room.logs.all()[-1].info }}</span>
            {% endif %}
          </div>
          <div class="room-card-right">
            {% if not profile.allow_username_edit and room.logs.all() %}
            <span class="room-lastlogdate">{{ room.logs.all()[-1].logged_at.strftime("%b %d") }}</span>
            <span class="room-unreadlog">{{ room.logs.all().__len__() }}</span>
            {% endif %}
          </div>
        </div>
      </a>
    </li>
    {% endfor %}
    {% else %}
    <p>Empty</p>
    {% endif %}
  </ul>
</section>
{% endblock %}


{% block scripts %}
{% endblock %}

