{% extends "base.html" %}
{% from "utils.html" import create_form %}



{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/lounge.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/form.css') }}">
{% endblock %}


{% block head_scripts %}
<script type="text/javascript">
  $(document).ready(function() {
  });
</script>
{% endblock %}


{% block title %}
<title>Lounge</title>
{% endblock %}


{% block main %}
<section class="content-section">
  <h2 class="room-topic">{{ room.topic }}</h2>
  <span class="room-number">room {{ room.number }}</span>
  <span class="room-info">{{ room.members.all().__len__() }} member(s)</span>
</section>


<section class="form-section">
  <form action="" method="POST">
    {% if username %}
    <p class="form-head">You are entering as {{ username }}</p>
    {% else %}
    <h3 class="form-head">Confirm your details before entering</h3>

    {{ create_form(form) }}
    {% endif %}

    <button type="submit">Enter</button>
  </form>
</section>
{% endblock %}


{% block scripts %}
{% endblock %}

