{% extends "base.html" %}
{% from "utils.html" import create_form %}



{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/lounge.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/form.css') }}">
{% endblock %}


{% block head_scripts %}
<script type="text/javascript">
  $(document).ready(function() {
  });
</script>
{% endblock %}


{% block title %}
<title>Lounge</title>
{% endblock %}


{% block main %}
{% set room=memb_profile.room %}
<section class="content-section">
  <h2 class="room-topic">{{ room.topic }}</h2>
  <span class="room-number">room number: {{ room.number }}</span>
  <span class="room-info">Admin: {{ room.members.filter_by(user=room.admin).first().username }}</span>
  {% with count=room.get_active("members").filter_by(allow_username_edit=False).count() %}
  <span class="room-info">{{ count }} member{% if count >1 %}s{% endif %}</span>
  {% endwith %}
</section>


<section class="form-section">
  {% if memb_profile.allow_username_edit %}
  <form action="" method="POST">
    <h3 class="form-head">Enter your username for this room</h3>

    {{ create_form(form) }}

    <button type="submit">{% if room.admin == current_user %}Create{% else %}Join{% endif %}</button>
  </form>
  <div>
    {% if room.admin == current_user %}
    <a href="{{ url_for('room_bp.delete_room', room=room) }}"><button class="submit-btn-inverse">Delete</button></a>
    {% else %}
    <a href="{{ url_for('room_bp.leave_room', room=room) }}"><button class="submit-btn-inverse">Leave</button></a>
    {% endif %}
  </div>
  {% else %}
  <form action="{{ url_for('room_bp.room', room=room) }}" method="GET">
    <p class="form-head">You are entering this room as<br>"{{ memb_profile.username }}"</p>

    <button type="submit">Enter</button>
  </form>
  <div>
    {% if room.admin == current_user %}
    <a href="{{ url_for('room_bp.delete_room', room=room) }}"><button class="submit-btn-inverse">Leave & Delete</button></a>
    {% else %}
    <a href="{{ url_for('room_bp.leave_room', room=room) }}"><button class="submit-btn-inverse">Leave</button></a>
    {% endif %}
  </div>
  {% endif %}
</section>
{% endblock %}


{% block scripts %}
{% endblock %}

