{% extends "base.html" %}
{% from "utils.html" import create_form %}



{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/room.css') }}">
{% endblock %}

{% block head_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/socket.io.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-3.6.0.min.js') }}"></script>
{% endblock %}

{% block body_scripts %}
<script type="text/javascript">
  $(document).ready(function() {

    var socket = io.connect("/room-chat");

    var data = {};
    data["username"] = "{{ memb_profile.username }}";
    data["number"] = "{{ room.number }}";

    socket.emit("entered", data);

    socket.on("message", function(msg) {
      $("#messages").append(add_message(msg));
    });

    $("#sendMessageBtn").on("click", function() {
      socket.send(data, $("#myMessage").val());
      $("#myMessage").val("");
    });

    function add_message(msg) {
      if (msg.category == 10) {
        return `<li class="notify-item"><span class="text">${msg.info}</span></li>`
      }
      else if (msg.sender_username === data["username"]) {
        return `<li class="chat-item flex-right"><span class="chat-item-head flex-right">You, ${msg.logged_at} GMT+1</span><span class="chat-item-chat flex-right my-chat">${msg.info}</span></li>`
      }
      else {
        return `<li class="chat-item flex-left"><span class="chat-item-head flex-left">${msg.sender_username}, ${msg.logged_at} GMT+1</span><span class="chat-item-chat flex-left others-chat">${msg.info}</span></li>`
      }
    }
  });
</script>
{% endblock %}


{% block title %}
<title>Chat room</title>
{% endblock %}


{% block main %}
<section class="head-section">
  <h2 class="room-topic">{{ room.topic }}</h2>
</section>

<section class="chat-section">
  <ul id="messages" class="log-itemlist">{{ logs.__len__() }}, {{ memb_profile.room.logs.all().__len__() }}
    {% for log in logs %}
    {% if log.category == 10 %}
    <li class="notify-item">
      <span class="text">{{ log.info }}</span>
    </li>
    {% elif log.member.user == memb_profile.user %}
    <li class="chat-item flex-right">
      <span class="chat-item-head flex-right">You, {{ log.logged_at.strftime("%H:%M") }} GMT+1</span>
      <span class="chat-item-chat flex-right my-chat">{{ log.info }}</span>
    </li>
    {% else %}
    <li class="chat-item flex-left">
      <span class="chat-item-head flex-left">{{ log.member.username }}, {{ log.logged_at.strftime("%H:%M") }} GMT+1</span>
      <span class="chat-item-chat flex-left others-chat">{{ log.info }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</section>

<section class="input-section">
  <input type="" id="myMessage" name="" placeholder="Type your message..." autofocus>
  <button id="sendMessageBtn" type="button">Send</button>
</section>
{% endblock %}


{% block scripts %}
{% endblock %}

