{% from "utils.html" import flash_messages %}



<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  
  {% block default_styles %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/normalize.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/nav.css') }}">
  {% endblock %}

  {% block styles %}
  {% endblock %}

  {% block head_scripts %}
  {% endblock %}
  
  {% block title %}
  <title>OutIn</title>
  {% endblock %}
</head>
<body>
  {% block body_scripts %}
  {% endblock %}

  <header>
    {% block nav %}
    <nav class="top-nav">
      <h2><a href="{{ url_for('user_bp.index') }}"><span>OutIn</span></a></h2>
    </nav>
    {% endblock %}

    {% block header %}
    {% endblock %}
  </header>
  

  <main>
    {% block side_nav %}
    <nav class="side-nav">
      <ul class="main-menu">
        <li class="menu-heading">
          <a href="{{ url_for('user_bp.index') }}"><span>Find Room</span></a>
        </li>
        {% if current_user.is_authenticated %}
        <!--
        <li class="menu-heading">
          <a href="{{ url_for('user_bp.dashboard') }}"><span>Dashboard</span></a>
        </li>
        -->
        <li class="menu-heading">
          <a href="{{ url_for('user_bp.list_notifications') }}"><span>Notifications</span>{% if current_user.unread_notes() %}<span class="count-bubble">{{ current_user.unread_notes().__len__() }}</span>{% endif %}</a>
        </li>
        <li class="menu-heading">
          <a href="{{ url_for('room_bp.joined_list') }}"><span>Rooms</span></a>
        </li>
        <!--
        <li class="menu-heading">
          <a href="{{ url_for('user_bp.settings') }}"><span>Settings</span></a>
        </li>
        -->
        <li class="menu-heading">
          <a href="{{ url_for('user_bp.logout') }}"><span>Logout</span></a>
        </li>
        {% else %}
        <li class="menu-heading">
          <a href="{{ url_for('user_bp.register') }}"><span>Register</span></a>
        </li>
        <li class="menu-heading">
          <a href="{{ url_for('user_bp.login') }}"><span>Login</span></a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endblock %}

    <article class="main-content">
      {{ flash_messages() }}

      {% block main %}
      {% endblock %}
    </article>
  </main>


  <footer>
    {% block footer %}
    {% endblock %}
  </footer>


  {% block default_scripts %}
  {% endblock %}

  {% block scripts %}
  {% endblock %}
</body>
</html>

