<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  
  {% block default_styles %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/normalize.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css') }}">
  {% endblock %}

  {% block styles %}
  {% endblock %}

  {% block head_scripts %}
  {% endblock %}
  
  {% block title %}
  <title>OutIn</title>
  {% endblock %}
</head>
<body>
  {% block body_scripts %}
  {% endblock %}

  <header>
    {% block nav %}
    <section>
      <div>
        {% if current_user.is_authenticated %}
        <p><a href="{{ url_for('user_bp.index') }}">Home</a></p>
        <p><a href="{{ url_for('user_bp.dashboard') }}">Dashboard</a></p>
        <p><a href="{{ url_for('user_bp.logout') }}">Logout</a></p>
        {% else %}
        <p><a href="{{ url_for('user_bp.index') }}">Home</a></p>
        <p><a href="{{ url_for('user_bp.register') }}">Register</a></p>
        <p><a href="{{ url_for('user_bp.login') }}">Login</a></p>
        {% endif %}
      </div>
    </section>
    {% endblock %}

    {% block header %}
    {% endblock %}
  </header>
  

  <main>
    <section>
      {% for message in get_flashed_messages() %}
      <div>{{ message }}</div>
      {% endfor %}
    </section>

    {% block main %}
    {% endblock %}
  </main>


  <footer>
    {% block footer %}
    {% endblock %}
  </footer>


  {% block default_scripts %}
  {% endblock %}

  {% block scripts %}
  {% endblock %}
</body>
</html>

