{% extends "base.html" %}
{% from "utils.html" import create_form %}



{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/form.css') }}">
{% endblock %}


{% block head_scripts %}
<script type="text/javascript">
  $(document).ready(function() {
  });
</script>
{% endblock %}


{% block title %}
<title>Edit Employee Profile</title>
{% endblock %}


{% block main %}
<section>
  <p><a href="{{ url_for('room_bp.dashboard') }}">Dashboard</a></p>
  <p><a href="{{ url_for('room_bp.logout') }}">Logout</a></p>
</section>

<section class="form-section">
  <form action="" method="POST">
    <h2 class="form-head">Edit Employee Profile</h2>
    
    {{ create_form(form) }}

    <button type="submit">Create</button>
  </form>
</section>
{% endblock %}


{% block scripts %}
{% endblock %}

