


.up, .down {
  padding: 20px;
}

.down {
  padding: 50px 20px 70px;
}

.up {
  border-bottom: 2.5px solid #7c3abc;
}

.up button {
  padding: 8px 14px;
  background-color: #7c3abc;
  color: #ffffff;
  border: 2.5px solid #7c3abc;

  border-radius: 8px;
  font-weight: bold;
}

.up .up-btn-inverse {
  padding: 8px 14px;
  background-color: #ffffff;
  color: #7c3abc;
  border: 2.5px solid #7c3abc;

  border-radius: 8px;
}

.up button:hover {
  background-color: #af69ef;
  color: #ffffff;
  border: 2.5px solid #af69ef;
}

.room-itemlist {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.room-itemlist li + li {
  margin-top: 20px;
}

.room-item {
  padding: 20px;
  border: 2px solid #7c3abc;
  border-radius: 4px;

  display: block;
}

.room-itemlist a {
  text-decoration: none;
}

.room-itemlist a:hover {
  background-color: #e7e9ea;
}

.room-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.room-card-left {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.room-topic {
  font-size: 16px;
  color: #0c0c0c;

  font-weight: bold;
}

.room-topic-read {
  color: #222222;
  font-weight: normal;
}

.room-lastlog {
  font-size: 14px;
  color: #555555;
  margin-top: 10px;
}

.input-error {
  color: #ff0039;
}

.room-card-right {
  flex: 0 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  margin-left: 4px;
}

.room-lastlogdate {
  align-self: center;
  font-size: 14px;
  color: #555555;
}

.room-unreadlog {
  align-self: center;
  margin-top: 10px;

  font-size: 14px;
  border-width: 0px;
  background-color: #7c3abc;
  border-radius: 64px;

  padding: 3px 5px;
  color: #ffffff;
}

