


.content-section {
  flex: 0 0 auto;

  margin: 0px auto;
  padding: 50px 20px 20px;
  width: 100%;
  max-width: 560px;
}

.room-topic {
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}

.room-number {
  font-size: 14px;
  text-align: center;
  display: block;
}

.room-info {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  display: block;
}

