:root {
  --side-nav-bgColor: #7c3abc;
  --side-nav-bgColor-hover: #f0f1f6;
  --side-nav-txtColor-hover: #7c3abc;
  --side-nav-txtColor: #dde9f8;
  --side-nav-width: 140px;
  --main-content-bgColor: #f0f1f6;
  --main-content-txtColor: #171616;
  --main-content-blockColor: #fff;
  --white: #fff;
  --black: #333;
  --blue: #00b9eb;
  --red: #ec1848;
  --border-radius: 4px;
  --box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
}

.top-nav {
  flex: 1 0 40px;

  background-color: var(--white);
  padding: 12px 15px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.top-nav a,
.top-nav button {
  color: #7c3abc;
}

.top-nav a {
  text-decoration: none;
}

.top-nav h2 {
  margin: 0px;
}

.side-nav {
  flex: 0 0 auto;
  min-width: var(--side-nav-width);
  
  padding-top: 20px;
  color: var(--side-nav-txtColor);
  background-color: var(--side-nav-bgColor);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.side-nav ul {
  list-style: none;
}

.side-nav a,
.side-nav button {
  color: #ffffff;
}

.side-nav a {
  text-decoration: none;
}

.side-nav button {
  background: none;
  cursor: pointer;
  border: none;
}

.side-nav .main-menu {
  flex: 1 0 auto;
  margin-top: 35px;
  padding: 0px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.side-nav .main-menu li:last-child {
  margin-top: auto;
  margin-bottom: 20px;
}

.side-nav .main-menu li > * {
  width: 100%;
  padding: 20px 16px;
}

.side-nav .main-menu a,
.side-nav .main-menu button {
  font-size: 0.9rem;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.side-nav .main-menu a:hover,
.side-nav .main-menu button:hover {
  background-color: var(--side-nav-bgColor-hover);
  color: var(--side-nav-txtColor-hover);
}

.side-nav .main-menu .sub-menu {
  flex: 1 0 auto;
  padding: 0px 15px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.side-nav .main-menu .sub-menu li:last-child {
  margin: 0px;
}

.count-bubble {
  flex: 0 0 auto;
  margin-left: 4px;
  padding: 3px 5px;

  font-size: 14px;
  background-color: var(--side-nav-bgColor-hover);
  color: #7c3abc;
  border-width: 0px;
  border-radius: 64px;
}

.main-content {
  flex: 1 1 auto;
  /*width: calc(100% - var(--side-nav-width));*/;;
  /*min-width: 480px;*/
  
  color: var(--main-content-txtColor);
  background-color: var(--main-content-bgColor);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

