{% extends "base.html" %}
{% from "utils.html" import create_form %}



{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/dashboard.css') }}">
{% endblock %}


{% block head_scripts %}
{% endblock %}


{% block title %}
<title>Dashboard</title>
{% endblock %}


{% block main %}
<section class="up">
  <a href="{{ url_for('room_bp.create_room') }}"><button>Create room</button></a>
  <a href="{{ url_for('room_bp.join_room') }}"><button class="up-btn-inverse">Join room</button></a>
</section>
{% endblock %}


{% block scripts %}
{% endblock %}

