{% extends "base.html" %}
{% from "utils.html" import create_form %}



{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/dashboard.css') }}">
{% endblock %}


{% block head_scripts %}
<script type="text/javascript">
  $(document).ready(function() {
  });
</script>
{% endblock %}


{% block title %}
<title>Dashboard</title>
{% endblock %}


{% block main %}
<section class="up">
  <a href="{{ url_for('room_bp.create_room') }}"><button>Create room</button></a>
  <a href="{{ url_for('room_bp.join_room') }}"><button class="up-btn-inverse">Join room</button></a>
  <a href="{{ url_for('ent_bp.create') }}"><button class="up-btn-inverse">Create enterprise</button></a>
</section>

<section class="down">
  <h2>Rooms</h2>

  <ul class="room-itemlist">
    {% if joined_rooms %}
    {% for room in joined_rooms %}
    <li class="room-item">
      <a href="{{ url_for('room_bp.room', room=room) }}">
        <div class="room-card">
          <div class="room-card-left">
            <span class="room-topic">{{ room.topic }}</span>
            <span class="room-lastlog">{{ room.logs.all()[-1].info }}</span>
          </div>
          <div class="room-card-right">
            <!-- <span class="room-number">RM {{ room.number }}</span> -->
            <span class="room-lastlogdate">{{ room.logs.all()[-1].logged_at.strftime("%b %d") }}</span>
          </div>

          {% if room.admin == current_user %}
          <button class="card-tag">admin</button>
          {% endif %}
        </div>
      </a>
    </li>
    {% endfor %}
    {% else %}
    <p>Empty</p>
    {% endif %}
  </ul>
</section>

<section class="down">
  <h2>Enterprises</h2>

  <ul class="room-itemlist">
    {% if enterprises %}
    {% for ent in enterprises %}
    <li class="room-item">
      <a href="{{ url_for('ent_bp.dashboard', _id=ent.id) }}">
        <div class="room-card">
          <div class="room-card-left">
            <span class="room-topic">{{ ent.name }}</span>
            <span class="room-topic">{{ ent.about }}</span>
            <!-- <span class="room-lastlog">{ ent.logs.all()[-1].info }}</span> -->
          </div>
          <div class="room-card-right">
            <!-- <span class="room-number">RM { room.number }}</span> -->
            <!-- <span class="room-lastlogdate">{ ent.logs.all()[-1].logged_at.strftime("%b %d") }}</span> -->
          </div>

          {% if ent.admin == current_user %}
          <button class="card-tag">admin</button>
          {% endif %}
        </div>
      </a>
    </li>
    {% endfor %}
    {% else %}
    <p>Empty</p>
    {% endif %}
  </ul>
</section>
{% endblock %}


{% block scripts %}
{% endblock %}

