{% extends "base.html" %}
{% from "utils.html" import create_form %}



{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/form.css') }}">
{% endblock %}


{% block title %}
<title>Login</title>
{% endblock %}


{% block main %}
<section class="form-section">
  <form action="" method="POST">
    <h2 class="form-head">Login</h2>
    
    {{ create_form(form) }}

    <label>
      <input type="checkbox" checked="checked" name="remember">Remember me
    </label>
    <button type="submit">Login</button>
  </form>
  <div>
    <a href="{{ url_for('room_bp.register') }}"><button class="submit-btn-inverse">Register</button></a>
    <span class="psw"><a href="#">Forgot password?</a></span>
  </div>
</section>
{% endblock %}


{% block scripts %}
{% endblock %}

