{% extends "base.html" %}
{% from "utils.html" import create_form %}



{% block styles %}
{% endblock %}


{% block title %}
<title>Login</title>
{% endblock %}


{% block main %}
<section>
  <form action="" method="POST">
    <h3>Login</h3>
    
    {{ create_form(form) }}

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember">Remember me
    </label>
  </form>
  <div>
    <a href="{{ url_for('room_bp.register') }}"><button>Register</button></a>
    <span class="psw"><a href="#">Forgot password?</a></span>
  </div>
</section>
{% endblock %}


{% block scripts %}
{% endblock %}

